<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lghcode.briefbook.mapper.ArticleMapper" >


    <select id="selectListPage" resultType="com.lghcode.briefbook.model.Article">
        select
        *
        from article
        where status = 0
    </select>

    <select id="selectListPageWithKey" resultType="com.lghcode.briefbook.model.Article">
        select
        *
        from article
        where status = 0
        and (title like CONCAT('%',#{keyWord},'%') or cont like CONCAT('%',#{keyWord},'%'))
    </select>
</mapper>