<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lghcode.briefbook.mapper.ArticleMapper" >


    <select id="selectListPage" resultType="com.lghcode.briefbook.model.Article">
        select
        *
        from article
        where status = 0
    </select>

    <select id="selectListPageWithKey" resultType="com.lghcode.briefbook.model.Article">
        select
        *
        from article
        where status = 0
        and (title like CONCAT('%',#{keyWord},'%') or cont like CONCAT('%',#{keyWord},'%'))
    </select>

    <select id="selectListByCorpusId" resultType="com.lghcode.briefbook.model.vo.ArticleVo">
        select
               a.id,
               a.title,
               a.cont,
               a.diamond_count as diamondCount,
               a.read_count as readCount,
               a.like_count as likeCount,
               a.publish_time as publishTime,
               (select count(*) from comment c where c.article_id = a.id) as commentCount
        from  article a
        where a.corpus_id = #{corpusId}
          and a.status = 0
    </select>

    <select id="queryUserLikeArticles" resultType="com.lghcode.briefbook.model.vo.ArticleVo">
        select
               a.id,
               a.title,
               a.cont,
               a.diamond_count as diamondCount,
               a.read_count as readCount,
               a.like_count as likeCount,
               a.publish_time as publishTime,
               (select count(*) from comment c where c.article_id = a.id) as commentCount
        from  user_article ua
        left join article a
        on ua.article_id = a.id
        where ua.user_id = #{userId}
        and ua.type = 1
        and a.status = 0
        and a.access_status = 0
    </select>


    <select id="queryUserCollectArticles" resultType="com.lghcode.briefbook.model.vo.ArticleVo">
        select
               a.id,
               a.title,
               a.cont,
               a.diamond_count as diamondCount,
               a.read_count as readCount,
               a.like_count as likeCount,
               a.publish_time as publishTime,
               (select count(*) from comment c where c.article_id = a.id) as commentCount
        from  user_article ua
                  left join article a
                      on ua.article_id = a.id
        where ua.user_id = #{userId}
          and ua.type = 3
          and a.status = 0
          and a.access_status = 0
    </select>

    <select id="selectRecycleBinList" resultType="com.lghcode.briefbook.model.vo.RecycleBinListVo">
        select
        a.id as articleId,
        a.title as articleTitle,
        a.cache_day as cacheDay
        from user_article ua
        left join article a
        on ua.article_id = a.id
        where ua.user_id = #{curUserId}
        and ua.type = 0
        and a.status = 1
    </select>

</mapper>