<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lghcode.briefbook.mapper.CommentMapper" >


    <select id="getParentComments" resultType="com.lghcode.briefbook.model.vo.CommentVo">
        select
          c.id as commentId,
          c.from_user_id as userId,
          u.nick_name as userName,
          u.head_img as headImg,
          c.cont as comment,
          c.create_time as createTime,
          c.like_num as likeNum
        from comment c
        left join user u
        on c.from_user_id = u.id
        where c.article_id = #{articleId}
        and c.p_id = 0
        and to_user_id = 0
    </select>

    <select id="getChildrenComments" resultType="com.lghcode.briefbook.model.vo.ChildrenCommentVo">
        select
               c.id as commentId,
               fu.id as userId,
               fu.nick_name as userName,
               fu.head_img as headImg,
               tu.id as toUserId,
               tu.nick_name as toUserName,
               c.cont as comment,
               c.create_time as createTime
        from comment c
        left join user fu
        on c.from_user_id = fu.id
        left join user tu
        on c.to_user_id = tu.id
        where c.p_id = #{parentId}
    </select>
</mapper>