<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lghcode.briefbook.mapper.UserArticleMapper" >


    <select id="getUserPrivateArticleCount" resultType="java.lang.Integer">
        select
        count(*)
        from user_article ua
        left join article a
        on ua.article_id = a.id
        where ua.type = 0
        and a.access_status = 1
        and a.status = 0
        and ua.user_id = #{userId}
    </select>

    <select id="getUserWordCount" resultType="java.lang.Integer">
        select
        sum(a.word_count) as wordCountTotal
        from user_article ua
        left join article a
        on ua.article_id = a.id
        where ua.type = 0
        and a.access_status = 0
        and a.status = 0
        and ua.user_id = #{userId}
    </select>

    <select id="getUserApprovalCount" resultType="java.lang.Integer">
        select
        sum(a.like_count) as likeCountTotal
        from user_article ua
        left join article a
        on ua.article_id = a.id
        where ua.type = 0
        and a.access_status = 0
        and a.status = 0
        and ua.user_id = #{userId}
    </select>

    <select id="getUserByArticleId" resultType="com.lghcode.briefbook.model.vo.UserBaseVo">
        select
            u.id as userId,
            u.nick_name as userName,
            u.head_img as headImg
        from user_article ua
        left join user u
        on ua.user_id = u.id
        where ua.type = 0
        and ua.article_id = #{articleId}
    </select>

    <select id="getPraiseUserListByArticleId" resultType="com.lghcode.briefbook.model.vo.PraiseUserVo">
        select
           u.id as userId,
           u.nick_name as userName,
           u.head_img as headImg,
           ua.create_time as praiseTime
        from user_article ua
        left join user u
        on ua.user_id = u.id
        where ua.type = 2
        and ua.article_id = #{articleId}
    </select>

    <select id="getUserArticles" resultType="com.lghcode.briefbook.model.vo.ArticleVo">
        select
            a.id,
            a.title,
            a.cont,
            a.diamond_count as diamondCount,
            a.read_count as readCount,
            a.like_count as likeCount,
            a.publish_time as publishTime,
            (select count(*) from comment c where c.article_id = a.id) as commentCount
        from user_article ua
        left join article a
        on ua.article_id = a.id
        where ua.user_id = #{userId}
        and ua.type = 0
        and a.status = 0
        and a.access_status = 0
    </select>

    <select id="getUserPrivateArticles" resultType="com.lghcode.briefbook.model.vo.ArticleVo">
        select
               a.id,
               a.title,
               a.cont,
               a.diamond_count as diamondCount,
               a.read_count as readCount,
               a.like_count as likeCount,
               a.publish_time as publishTime,
               (select count(*) from comment c where c.article_id = a.id) as commentCount
        from user_article ua
                 left join article a
                     on ua.article_id = a.id
        where ua.user_id = #{userId}
          and ua.type = 0
          and a.status = 0
          and a.access_status = 1
    </select>
</mapper>