<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lghcode.briefbook.mapper.UserMapper" >

    <select id="getUserCorpusList" resultType="com.lghcode.briefbook.model.vo.CorpusListVo">
        select
            c.id as corpusId,
            c.name as name,
            u.nick_name as creator
        from corpus c
        left join user u
        on c.creator_id = u.id
        where c.creator_id = #{userId}
    </select>

    <select id="getUserLikeCorpusList" resultType="com.lghcode.briefbook.model.vo.CorpusListVo">
        select
               c.id as corpusId,
               c.name as name,
               u.nick_name as creator
        from user_corpus uc
        left join corpus c
        on uc.corpus_id = c.id
         left join user u
         on c.creator_id = u.id
        where uc.user_id = #{userId}
    </select>

</mapper>